* {
    font-family: "JetBrains Mono Nerd Font";
    /*font-family: "JetBrainsMono Nerd Font";*/
    font-weight: normal; 
    font-size: 15px;
    min-height: 4px;
    margin: 0px;
    
}

@import "theme.css";
#custom-notification {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 13px;
}

window#waybar {
   background: rgba(23, 23, 23, 1);
    border-radius: 15px;
 /*  border: 2px solid #124323; */
   border: 1.5px solid rgba(66, 135, 245, 0.2);
}

tooltip {
        background: #171717;
        color: #FFFFFF;
        font-size: 13px;
        border-radius: 7px;
       border: 2px solid #101a24;


    }
#workspaces{

}
#workspaces button {
background: rgba(23, 23, 23, 0.0);
    color: #888789;
    box-shadow: none;
	text-shadow: none;
    border-radius: 9px;
    transition: 0.8s ease;
    padding: 0px;
    margin-left: 1px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-left: 1px;
    padding-right: 1px;
    margin-right: 1px;
   /* animation: ws_normal 20s ease-in-out 1; */
}



#workspaces button.active {

 
  padding: 0;
  /* background-image: url("/home/anik/Documents/bar1.png");*/
    color: #D6D5D8;  
    transition: all 0.3s ease;
    margin-left: 1px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 1px;
  /*  transition: all 0.4s cubic-bezier(.55,0.68,.48,1.682); */
  
}

#workspaces button:hover {
    background: none;
    color: #72D792;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
	font-size: 4px;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
    min-height: 9px; 
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px;
    font-weight: normal;
    color: #c8a1cf;
}

#tray menu separator {
    min-height: 10px
}


#custom-spacer{
opacity: 0.0;
}


#custom-mouse{
font-size: 14px;
margin-top: 6px;
margin-bottom: 6px;
background:  #161320;
}

#custom-menu{
font-size: 14px;
margin-top: 6px;
margin-bottom: 6px;
background:  #161320;
}

#custom-power{
    font-size: 15px;
    color: #FFFFFF;
    background:  rgba(22, 19, 32, 0.9);
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
    }

#backlight{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    background:  rgba(22, 19, 32, 0.9);
    opacity: 1;
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
 
}
#bluetooth,
#custom-cliphist{
    color: #E6E7E7;
    background:  #161320;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
 
}
#battery{
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    background:  rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
 
}

#idle_inhibitor{
color: #24966e;
background: @bar-bg;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;

}
#clock{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    font-family: "JetBrains Mono Nerd Font";
    background: rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    
}
#pulseaudio{
font-weight: bold;
color: #E6E7E7;
    background:  rgba(22, 19, 32, 0.9);
    opacity: 1;
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
}
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#custom-rr_end {
font-weight: normal;
    color: #23ACDD ;
    background:  rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;
  ;
    
}
#battery.charging, #battery.plugged {
	color: #77e093;
}

#battery.critical:not(.charging) {
    color: #161320;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #eb521e;
    }
}



#taskbar {
    padding: 1px;
}

#custom-r_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}
