window {
  background-color: rgba(23, 23, 23, 0.7);
}

* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 14px;
  color: #fff;
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: rgba(23, 23, 23, 0.7);
  outline: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
}

#inner-box {
  margin: 0.5rem;
  font-size: 1rem;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0.5rem;
}

#entry:selected {
  background-color: rgba(23, 23, 23, 0.7);
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.3);
}s
