
@define-color background    rgba(50, 48, 47, 1);
@define-color background-alt rgba(189, 174, 147, 1);
@define-color foreground    rgba(211, 134, 155, 1);
@define-color selected      rgba(251, 241, 199, 1);
@define-color active      rgba(251, 73, 52, 1);
@define-color urgent        rgba(69, 133, 136, 1);


.testing {
  background-color: red;
}
.control-center {
padding: 9px;
  background: rgba(23, 23, 23, 0.4);
  border-radius: 20px 20px 20px 20px;
  border: 2px solid #124323;
  margin: 2px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.8;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
font-family: "JetBrains Mono Nerd Font";
font-weight: bold;
  margin: 8px;
  font-size: 1.5rem;
}
.widget-title > button {
  font-size: initial;
  color: white;
  text-shadow: none;
  background:  #0c0817;
  border: 1px solid #04030a;
  box-shadow: none;
  border-radius: 12px;
}
.widget-title > button:hover {
  background: @noti-bg-hover;
}

 /* DND widget */
 .widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}
.widget-dnd > switch {
  font-size: initial;
  border-radius: 14px;
  background: @noti-bg;
  border: 2px solid @noti-border-color;
  box-shadow: none;
}
.widget-dnd > switch:checked {
  background:rgb(124, 146, 103);
}
.widget-dnd > switch slider {
  background: @noti-bg-hover;
  border-radius: 12px;
}


/* Label widget */
.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
font-family: "JetBrains Mono Nerd Font";
  /* The parent to all players */
}
.widget-mpris-player {
  padding: 24px;
  margin: 0px;
  background-color: @mpris-album-art-overlay;
  border-radius: 20px;
  box-shadow: 10px 10px 10px  10px rgba(0, 0, 0, 1);
}
.widget-mpris-album-art {
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
.widget-mpris-player button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: @noti-bg-hover;
}
.widget-mpris > box > button {
  /* Change player side buttions */
}
.widget-mpris > box > button:disabled {
  /* Change player side buttions insensitive */
}
.widget-mpris-title {
font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
font-family: "JetBrains Mono Nerd Font";
  font-size: 1.1rem;
}
/*imp1 */
/* Buttons widget */
.widget-buttons-grid {
 /* height: 30px; */
 font-size: 20px;  
 font-family: "JetBrains Mono Nerd Font";
   padding-left: 5px; 
  margin-left: -7px;
  margin-right: -7px;
  border-radius: 20px;
  background-color:  transparent;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  padding: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  background:  #242424;
  border-radius: 10px;
  border: 1px solid #04030a;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background:  #C6E58E;
}

/* Menubar widget */
.widget-menubar>box>.menu-button-bar>button {
  border: none;
  background: transparent;
  background: red;
}


.topbar-buttons>button { /* Name defined in config after # */
  border: none;
  background: transparent;
  background: rgba(69, 133, 136, 1);
}

/* Volume widget */
trough{
border-radius: 20px;
background: rgba(15, 15, 15, 1)
;
/*border: 3px solid #171717;*/
padding-right: 1px;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 1px;
}

trough highlight { /* ´trough´ is the background of the slider, ´highlight´ is the actual slider */
    padding-top: 1px;
    margin-left: -13px;
    background: #49A0E6;
    border: 0px solid #02080d;
    border-radius: 20px 0px 0px 20px;
}

trough slider {
    padding: 0px;
    background: #49A0E6;
    border: 0px solid #02080d;
    margin-left: -10px;
}
trough slider:hover {
    padding: 0px;
    background: #FFFFFF;
    border: 2px solid #02080d;
}

.widget-volume {
  background-color: rgba(36, 36, 36, 0.5);
  border-radius: 20px 20px 0px 0px;
  font-size: 25px;
  padding-left: 15px;
  margin-left: -10px;
   margin-right: -10px;
  margin-top: -10px;
  border: 0px solid #28282b;
}



.widget-backlight {
padding-left: 15px;
background-color: rgba(36, 36, 36, 0.5);
  font-size: 25px;
  margin-left: -10px;
   margin-right: -10px;
   margin-top: -8px;
  border-radius: 0px 0px 20px 20px;
  border: 0px solid #28282b;
}

/* Title widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-inhibitors > button {
  font-size: initial;
  color: white;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 12px;
}
.widget-inhibitors > button:hover {
  background: @noti-bg-hover;
}
