


    $bg0: #000000;
    $bg1: #333333;
    $bg2: #666666;
    $bg3: #999999;

    $fgDim: #999999;
    $fgAlt: #000000;



$fg: #FFFFFF;

$accent0: #CC6666;
$onAccent0: #66CCCC;

$accent1: #66CC99;
$onAccent1: #CC6699;

$accent2: #CC9966;
$onAccent2: #6699CC;

$accent3: #6699CC;
$onAccent3: #CC9966;
