


    $bg0: #0E0B10;
    $bg1: #3E3C40;
    $bg2: #6E6D70;
    $bg3: #9F9D9F;

    $fgDim: #929586;
    $fgAlt: #000000;



$fg: #F4F8E0;

$accent0: #DF9910;
$onAccent0: #1056DF;

$accent1: #D48457;
$onAccent1: #57A7D4;

$accent2: #F95768;
$onAccent2: #57F9E8;

$accent3: #E3CB0F;
$onAccent3: #0F27E3;
