

.circle-button {
    all: unset;
    background-color: $bg2;
    border-radius: 100%;
    min-width: 2rem;
    min-height: 2rem;
    
    // Button contents
    > * {
        color: $fg;
    }
}

.circle-button:hover{
    background-color: $accent1;
    > * {
        color: $fgAlt;
    }
}

.circle-button-active {
    background-color: $accent1;
    > * {
        color: $fgAlt;
    }
}

.circle-button:hover {
    background-color: $accent1;
    > * {
        color: $fgAlt;
    }
}
