
// Calendar
////////////////////////////////////////////////////////////////////////////
// Derived from Phocus GTK theme
// Wher docs?
calendar {
  //background: #141414;
  all: unset;
}
calendar.button {
  border-radius: 1rem;
}
calendar.button:hover {
  background-color: $bg1;
}
calendar.button:disabled {
  color: rgba(255, 255, 255, 0.06);
}
calendar.header {
  //background: #1c1c1c;
}
calendar.highlight {
  color: rgba(255, 255, 255, 0.34);
}
calendar:selected {
  color: white;
  border-radius: 0.5em;
  background: $accent1;
}
calendar:indeterminate {
  color: rgba(116, 116, 116, 0.776);
}
calendar.day-number.button{
    color: red;
}

