
.tab-container{    
    background-color: rgba($bg1, $lowOpacity);
    padding: 1rem;
}

// Settings tab Button
.settings-tab-button {
    background-color: transparent;
    padding: 0.28rem; // Currently determines bar height
}

.settings-tab-button:active {
}

.settings-tab-button > * {
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
}

.settings-tab-button:hover > * {
    background-color: $accent3;
    color: $fgAlt;
}

.settings-tab-active > *{
    background-color: $accent3;
    color: $fgAlt;
}


.header{
    font-size: 24px;
    margin: 1rem;
    font-weight: bold;
}

.sub-header{
    font-size: 16px;
    margin: 1rem;
    font-weight: bold;
}

.option-container{
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba($bg1, $lowOpacity);
}
