* {
  color: #FFFFFF; }

.large-text {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "JetBrains Mono Nerd Font"; }

.sub-text {
  font-size: 0.7rem;
  color: #999999;
  font-weight: bold;
  font-family: "JetBrains Mono Nerd Font"; }

.recording > * {
  color: red; }

.container {
  border-radius: 1rem;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 0.6em; }

.container-no-spacing {
  border-radius: 1rem;
  background-color: rgba(51, 51, 51, 0.8); }

.container-side-spacing {
  border-radius: 1rem;
  padding-left: 0.6em;
  padding-right: 0.6em;
  background-color: rgba(51, 51, 51, 0.8); }

.scrollable-item:first-child {
  margin-top: 0.8em; }

.scrollable-item:last-child {
  margin-top: 0.8em; }

.toggle-window {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  border-color: rgba(64, 64, 64, 0.8);
  border-width: 1px;
  border-style: solid;
  padding: 0.64rem;
  margin: 1rem; }

.normal-window {
  background-color: rgba(0, 0, 0, 0.8); }

.round-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem; }

.round-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem; }

tooltip {
  padding: 1.2rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.8); }

.horizontal-separator {
  min-height: 1px;
  background-color: #FFFFFF;
  border-radius: 1rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem; }

.vertical-separator {
  min-width: 1px;
  background-color: #FFFFFF;
  border-radius: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem; }

/*
window:has(menu){

}
*/
.dim {
  color: #6c6c6c; }

.invisible {
  opacity: 0; }

switch {
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 1rem;
  background-color: #333333; }

switch slider {
  border-radius: 1rem;
  min-width: 2rem;
  min-height: 2rem;
  background-color: #66CC99; }

.padder {
  margin: 0.8rem; }

spinbutton {
  min-height: 38px; }
  spinbutton, spinbutton * {
    all: unset; }
  spinbutton entry {
    border-radius: 1rem;
    padding: 0.6rem;
    margin: 0.2rem;
    background-color: #000000; }
  spinbutton button {
    border-radius: 100%;
    margin-left: 2px;
    font-size: 8px;
    min-width: 38px;
    min-height: 38px;
    background-color: rgba(102, 102, 102, 0.3); }
  spinbutton button:hover {
    background-color: #000000; }

switch {
  background-color: rgba(102, 102, 102, 0.3); }

.active-button > * {
  background-color: #58c7b1;
  border-radius: 1rem; }

.shadow-button {
  margin-bottom: 0.6rem;
  background-color: transparent;
  padding: 0.28rem; }

.shadow-button > * {
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  background-color: rgba(102, 102, 102, 0.3);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.8), -3px -3px 2px rgba(102, 102, 102, 0.5);
  border: solid;
  border-width: 0px;
  border-color: #666666; }

.shadow-button:hover > * {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: -4px -4px 2px rgba(0, 0, 0, 0.8), 3px 3px 2px rgba(102, 102, 102, 0.5); }

entry {
  padding: 0.6rem;
  background-color: rgba(51, 51, 51, 0.44);
  border-radius: 1rem; }

/*
entry window.popup {
    background-color: $bg1;
}
*/
.bar-window {
  background-color: rgba(0, 0, 0, 0.64);
  font-family: "System-ui";
  font-size: 16px; }

.bar-icon {
  background-color: red;
  padding: 0.3rem; }

.applauncher {
  background-color: rgba(0, 0, 0, 0.64);
  padding: 8px;
  border-radius: 1.2rem;
  border-color: rgba(88, 88, 88, 0.42);
  border-width: 1px;
  border-style: solid; }

.app-button {
  all: unset;
  padding: 0.4rem;
  border-radius: 1rem;
  margin-right: 0.8rem; }

.app-button:hover {
  background-color: #66CC99; }
  .app-button:hover label {
    color: #000000; }

.app-button:focus {
  background-color: #66CC99; }
  .app-button:focus label {
    color: #000000; }

.app-entry {
  all: unset;
  padding: 0.6rem;
  background-color: rgba(51, 51, 51, 0.44);
  border-radius: 1rem; }

.first-item > button:first-child {
  background-color: #66CC99;
  border-radius: 1rem; }
  .first-item > button:first-child label {
    color: #000000; }

.normal-button {
  all: unset;
  padding: 0.28rem; }

.normal-button > * {
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem; }

.normal-button:hover > * {
  color: #000000;
  background-color: #58bac7; }
  .normal-button:hover > * * {
    color: #000000; }

.bg-button > * {
  background-color: rgba(102, 102, 102, 0.3); }

.power-button > * {
  padding: 0.4rem;
  border-radius: 1rem; }

.power-button:hover > * {
  background-color: #999999; }

.dock-button > box {
  padding: 0.6rem 0.6rem;
  margin: 0.4rem;
  border-radius: 1rem;
  min-width: 4rem;
  min-height: 4rem; }

.dock-button:hover > box {
  background-color: #999999; }

.dock-container {
  background-color: rgba(0, 0, 0, 0.64); }

.dock-app-indicator {
  min-width: 0.4rem;
  min-height: 0.4rem;
  border-radius: 1rem;
  margin-right: 0.6rem;
  background-color: rgba(0, 0, 0, 0); }

.dock-app-indicator-active {
  background-color: #FFFFFF; }

.notifications {
  margin-left: 1rem;
  opacity: 0.1;
  background-color: transparent;
  }

.notification {
  color: white;
  background-color: rgba(0, 0, 0, 0.64);
  background-color: transparent;
  border-radius: 20px;
  min-width: 16rem;
  min-height: 4rem;
  padding: 1rem; }

.battery-bg {
  color: #FFFFFF; }

.battery-fg {
  color: #44ec44; }

.battery-circle {
  min-width: 7.2rem;
  min-height: 7.2rem;
  background-color: #000000;
  color: #2ab564; }

.icon {
  font-size: 20px;
  font-family: "JetBrains Mono Nerd Font";
  color: #FFFFFF; }

.system-stats-circular-progress {
  background-color: #E25D56;
  color: #6699CC;
  font-size: 4px;
  min-height: 22px; }

.lockscreen {
  background-color: #333333; }

calendar {
  all: unset; }

calendar.button {
  border-radius: 1rem; }

calendar.button:hover {
  background-color: #333333; }

calendar.button:disabled {
  color: rgba(255, 255, 255, 0.06); }

calendar.highlight {
  color: rgba(255, 255, 255, 0.34); }

calendar:selected {
  color: white;
  border-radius: 0.5em;
  background: #66CC99; }

calendar:indeterminate {
  color: rgba(116, 116, 116, 0.776); }

calendar.day-number.button {
  color: red; }

menu {
  border-color: rgba(64, 64, 64, 0.9);
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.97);
  border-radius: 1rem;
  padding: 0.4rem; }

menuitem {
  border-radius: 1rem;
  padding: 0.4rem;
  margin: 0.2rem; }

menuitem:hover {
  background-color: #999999; }

scrollbar {
  min-width: 4px;
  margin: 0px; }

scrollbar.overlay-indicator {
  background-color: black;
  border-radius: 1rem; }

scrollbar.vertical {
  margin-top: 0.6em;
  margin-bottom: 0.6em; }
  scrollbar.vertical slider {
    min-width: 4px;
    border-radius: 1rem;
    background-color: #999999; }

scrollbar.horizontal {
  margin-left: 0.6em;
  margin-right: 0.6em; }
  scrollbar.horizontal slider {
    min-height: 4px;
    border-radius: 1rem;
    background-color: #999999; }

button.combo {
  background-color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 1rem; }

button.combo:hover {
  background-color: #999999; }

.systray {
  background-color: #000000;
  margin: 0.2rem;
  border-radius: 1rem; }

.weather-container {
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(51, 51, 51, 0.9); }

entry treeview {
  background-color: #333333; }

progressbar trough {
  background-color: #000000;
  border-radius: 10px;
  min-width: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem; }
  progressbar trough progress {
    background-color: #E9BF57;
    min-width: 1rem;
    min-height: 8px;
    border-radius: 10px; }

scale, scale * {
  all: unset; }

/* The background */
scale trough {
  background-color: rgba(0, 0, 0, 0.64);
  border-radius: 20px;
  /* Accounts for the extension of the highlight */
  padding: 4px 20px; }

.vertical-slider trough {
  /* Accounts for the extension of the highlight */
  padding: 20px 4px; }

scale trough:hover > slider {
  background-color: #E25D56; }

/* The highligh */
scale highlight {
  border-radius: 20px;
  background-color: #E25D56;
  /* Forces highlight to extend to match the slider positon  on the ends */
  margin: 0 -14px; }

.vertical-slider highlight {
  /* Forces highlight to extend to match the slider positon  on the ends */
  margin: -14px 0px; }

/* The dot */
scale slider {
  min-height: 28px;
  min-width: 28px;
  border-radius: 100%;
  background-color: #E25D56;
  border-style: solid;
  border-width: 0px;
  border-color: #6699CC;
  box-shadow: 0px 0px 4px #000000; }

scale slider:hover {}

.ws-indicator {
  background-color: dimgray;
  border-radius: 1.2rem;
  margin: 0rem 0.24rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  transition: min-width 0.3s;
  transition: min-height 0.3s; }

.ws-inactive {
  min-width: 0.6rem;
  min-height: 0.6rem; }
  .ws-inactive label {
    font-size: 0rem; }

.ws-button {
  all: unset;
  padding: 0;
  min-width: 1.8rem; }
  .ws-button label {
    font-size: 0rem;
    color: #999999; }

.ws-button > * {
  padding: 0rem; }

.ws-button:hover > box {
  background-color: #6699CC; }
  .ws-button:hover > box label {
    color: #000000; }

.ws-button:hover > .ws-inactive {
  min-width: 1.2rem;
  min-height: 1.2rem;
  transition: min-width 0.3s;
  transition: min-height 0.3s; }

.ws-button:hover > .ws-active {
  min-width: 2.4rem;
  min-height: 1.2rem; }

/* Occupied needs to come before active */
.ws-occupied {
  background-color: #66CC99; }
  .ws-occupied label {
    min-width: 1.2rem;
    min-height: 1.2rem;
    font-size: 0.8rem;
    color: #000000; }

.ws-active {
  background-color: #6699CC;
  min-width: 2.4rem;
  min-height: 1.2rem; }
  .ws-active label {
    min-width: 2.4rem;
    min-height: 1.2rem;
    font-size: 0.8rem;
    color: #000000; }
.control-panel{
border: 3px solid #27272E;
}
.control-panel-box {
  background-color: #0F0F0F;
  border-radius: 10px;
 border: 1px solid #27272E; 
 margin: 0.2rem;
}

.control-panel-button {
  all: unset;
  background-color: #0F0F0F;
  border-radius: 10px;
 border: 1px solid #27272E; 
  margin: 0.2rem; }

.control-panel-sub-button {
  background-color: rgba(51, 51, 51, 1); }

.control-panel-button:hover {
  background-color: #6699CC; }

.control-panel-sub-button:hover {
  background-color: #6699CC; }

.control-panel-button-content {
  padding: 0.4rem; }

.control-panel-audio-box {
  border-radius: 1rem;
  padding: 0.4rem;
  margin: 0.2rem;
  background-color: rgba(51, 51, 51, 1); }

.control-panel-widget-large {
  padding: 0.4rem;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 1rem;
border: 3px solid #27272E; 
  margin: 0.2rem; }

.tab-container {
  background-color: rgba(51, 51, 51, 0.44);
  padding: 1rem; }

.settings-tab-button {
  background-color: transparent;
  padding: 0.28rem; }

.settings-tab-button > * {
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem; }

.settings-tab-button:hover > * {
  background-color: #6699CC;
  color: #000000; }

.settings-tab-active > * {
  background-color: #6699CC;
  color: #000000; }

.header {
  font-size: 24px;
  margin: 1rem;
  font-weight: bold; }

.sub-header {
  font-size: 16px;
  margin: 1rem;
  font-weight: bold; }

.option-container {
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(51, 51, 51, 0.44); }

.circle-button {
  all: unset;
  background-color: #666666;
  border-radius: 100%;
  min-width: 2rem;
  min-height: 2rem; }
  .circle-button > * {
    color: #FFFFFF; }

.circle-button:hover {
  background-color: #66CC99; }
  .circle-button:hover > * {
    color: #000000; }

.circle-button-active {
  background-color: #66CC99; }
  .circle-button-active > * {
    color: #000000; }

.circle-button:hover {
  background-color: #66CC99; }
  .circle-button:hover > * {
    color: #000000; }

.player {
  padding: 10px;
  min-width: 350px; }

.player .img {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 13px;
  margin-right: 1em; }

.player .title {
  font-size: 1.2em; }

.player .artist {
  font-size: 1.1em;
  color: red; }

.player scale.position {
  padding: 0;
  margin-bottom: .3em; }

.player scale.position trough {
  min-height: 8px; }

.player scale.position highlight {
  background-color: #6699CC; }

.player scale.position slider {
  all: unset; }

.player button {
  min-height: 1em;
  min-width: 1em;
  padding: .3em; }

.player button.play-pause {
  margin: 0 .3em; }
